<div class="container-fluid">
	<ul class="list-group">
		<li class="list-group-item list-group-item-success"><a href=""><label>School Basics</label><span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
		<li class="list-group-item list-group-item-info"><a href=""><label>Semester Start</labelspan><span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
		<li class="list-group-item list-group-item-warning"><a href=""><label>Academics, Finance, Life</label><span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
		<li class="list-group-item list-group-item-danger"><a href=""><label>Semester End</label><span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
		<li class="list-group-item list-group-item-danger"><a href=""><label>Graduation</label><span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
		<li class="list-group-item list-group-item-danger"><a href=""><label>My Service Request</label><span class="pull-right glyphicon glyphicon-chevron-right"></span></a></li>
	</ul>
</div>