<div class="row" id="studentDetails">
	<div class="list-group">
		<div class="container-fluid">
			<a class="list-group-item list-group-item-primary" href=""><label>School Basics</label><span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
			<a class="list-group-item list-group-item-default" href=""><label>Semester Start</label><span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
			<a class="list-group-item list-group-item-default" href=""><label>Academics, Finance, Life</label><span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
			<a class="list-group-item list-group-item-default" href=""><label>Semester End</label><span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
			<a class="list-group-item list-group-item-default" href=""><label>Graduation</label><span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
			<a class="list-group-item list-group-item-default" href=""><label>My Service Request</label><span class="pull-right glyphicon glyphicon-chevron-right"></span></a>
		</div>
	</div>
</div>