<section class="container-fluid" id="classes" style="padding-top:0;">
	<!-- ngRepeat: c in classCtrl.classes -->
	<div class="row classblue">

		<div class="col-xs-9">
			<span class="font-12 gray-text">current affairs</span>
		</div>
		<div class="col-xs-3 text-right">
			<span class="font-12 gray-text">Tom</span>
		</div>
		<div class="col-xs-8">
			<h1>English</h1>
		</div>
		<div class="col-xs-4 text-right">
			<span class="font-12 gray-text">12 jan</span>
		</div>
		<div class="col-xs-6">
			<span class="font-12">Build 6</span>
		</div>
		<div class="col-xs-6 text-right">
			<span class="font-12">MWF 1pm-2pm</span>
		</div>
	</div>
	<!-- end ngRepeat: c in classCtrl.classes -->
	<div class="row  classgreen">

		<div class="col-xs-9">
			<span class="font-12 gray-text">Politics in US</span>
		</div>
		<div class="col-xs-3 text-right">
			<span class="font-12 gray-text">Adam</span>
		</div>
		<div class="col-xs-8">
			<h1>political science</h1>
		</div>
		<div class="col-xs-4 text-right">
			<span class="font-12 gray-text">13 Feb</span>
		</div>
		<div class="col-xs-6">
			<span class="font-12">Build 3</span>
		</div>
		<div class="col-xs-6 text-right">
			<span class="font-12">MWF 10am-11am</span>
		</div>
	</div>
	<!-- end ngRepeat: c in classCtrl.classes -->
	<!-- ngRepeat: c in classCtrl.classes -->
	<div class="row classblue">

		<div class="col-xs-9">
			<span class="font-12 gray-text">current affairs</span>
		</div>
		<div class="col-xs-3 text-right">
			<span class="font-12 gray-text">Tom</span>
		</div>
		<div class="col-xs-8">
			<h1>English</h1>
		</div>
		<div class="col-xs-4 text-right">
			<span class="font-12 gray-text">12 jan</span>
		</div>
		<div class="col-xs-6">
			<span class="font-12">Build 6</span>
		</div>
		<div class="col-xs-6 text-right">
			<span class="font-12">MWF 1pm-2pm</span>
		</div>
	</div>
	<!-- end ngRepeat: c in classCtrl.classes -->
	<div class="row classgreen">

		<div class="col-xs-9">
			<span class="font-12 gray-text">Politics in US</span>
		</div>
		<div class="col-xs-3 text-right">
			<span class="font-12 gray-text">Adam</span>
		</div>
		<div class="col-xs-8">
			<h1>political science</h1>
		</div>
		<div class="col-xs-4 text-right">
			<span class="font-12 gray-text">13 Feb</span>
		</div>
		<div class="col-xs-6">
			<span class="font-12">Build 3</span>
		</div>
		<div class="col-xs-6 text-right">
			<span class="font-12">MWF 10am-11am</span>
		</div>
	</div>
	<!-- end ngRepeat: c in classCtrl.classes -->


	<section></section>
</section>